<!-- app/views/portal/index.html.erb -->
<div class="container mt-5">
  <h1 class="mb-4">This is <%= current_school_login.role.titleize %> portal info page</h1>
  <!-- Add buttons for filtering -->
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Class</th>
        <th>Subject</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% case current_school_login.role.to_sym %>
      <% when :admin %>
      <!-- Display admin-related data -->
      <div class="mb-3">
        <button class="btn btn-primary" id="students-button">Show Students</button>
        <button class="btn btn-primary" id="teachers-button">Show Teachers</button>
        <button class="btn btn-primary" id="subjects-button">Show Subjects</button>
        <%= link_to 'Create New Classes and Subjects', new_class_name_path , class: "btn btn-info btn-sm" %>
      </div>
      <% @students.each do |student| %>
        <tr class="student-row">
          <td><%= student.id %></td>
          <td><%= student.class_name.name if student.class_name.present?%></td>
          <td><%= student.class_name.subjects.pluck(:name).join(', ') if student.class_name.present? %></td>
          <td><%= student.name %></td>
          <td><%= link_to 'show', school_login_registration_path(student.id), class: "btn btn-info btn-sm" %></td>
        </tr>
      <% end %>
      <% @teachers.each do |teacher| %>
        <tr class="teacher-row">
          <td><%= teacher.id %></td>
          <td><%= teacher.class_names.pluck(:name).join(', ') %></td>
          <td><%= teacher.subject.name if teacher.subject.present? %></td>
          <td><%= teacher.name %></td>
          <td><%= link_to 'show', school_login_registration_path(teacher.id), class: "btn btn-info btn-sm" %></td>
        </tr>
      <% end %>
      <% @subjects.each do |subject| %>
        <tr class="subject-row">
          <td></td>
          <td></td>
          <td><%= subject.code %></td>
          <td><%= subject.name %></td>
        </tr>
      <% end %>
      <div class="subjectnew-row">
        <%# <%= render 'class_names/new_class_subject_form' %> %>
      </div>
      <% when :teacher %>
      <!-- Display teacher-related data -->
      <% if @teacher.present? %>
        <tr class="teacher-row">
          <td><%= @teacher.id %></td>
          <td></td>
          <td><%= @teacher.subject.name if @teacher.subject.present? %></td>
          <td><%= @teacher.name %></td>
          <td><%= link_to 'Edit', edit_school_login_registration_path(@teacher), class: "btn btn-info btn-sm" %></td>
        </tr>
      <% end %>
      <% when :student %>
      <!-- Display student-related data -->
      <% if @student.present? %>
        <tr class="student-row">
          <td><%= @student.id %></td>
          <td><%= @student.class_name.name if @student.class_name.present? %></td>
          <td><%= @student.class_name.subjects.pluck(:name).join(', ') if @student.class_name.present? %></td>
          <td><%= @student.name %></td>
          <td><%= link_to 'Edit', edit_school_login_registration_path(@student), class: "btn btn-info btn-sm" %></td>
        </tr>
      <% else %>
        <tr>
          <td colspan="5">Student data not found.</td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<!-- app/views/portal/index.html.erb -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const studentsButton = document.getElementById('students-button');
    const teachersButton = document.getElementById('teachers-button');
    const subjectsButton = document.getElementById('subjects-button');
    const newClassesSubjectsButton = document.getElementById('new-classes-subjects-button');
    const formContainer = document.getElementById('new-class-subject-form-container');

    studentsButton.addEventListener('click', function() {
      toggleRows('student-row');
    });

    teachersButton.addEventListener('click', function() {
      toggleRows('teacher-row');
    });

    subjectsButton.addEventListener('click', function() {
      toggleRows('subject-row');
    });

      newClassesSubjectsButton.addEventListener('click', function() {
      toggleRows('subjectnew-row');
    });

    newClassesSubjectsButton.addEventListener('click', function() {
      if (formContainer.style.display === 'none' || formContainer.style.display === '') {
        formContainer.style.display = 'block';
      } else {
        formContainer.style.display = 'none';
      }
    });

    function toggleRows(className) {
      const rows = document.querySelectorAll('.' + className);
      rows.forEach(function(row) {
        row.style.display = 'table-row';
      });

      const otherRows = document.querySelectorAll('tr:not(.' + className + ')');
      otherRows.forEach(function(row) {
        row.style.display = 'none';
      });
    }
  });
</script>
