<!-- app/views/portal/index.html.erb -->
<div class="container mt-5">
  <h1 class="mb-4">This is <%= current_school_login.role.titleize %> portal info page</h1>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>class</th>
        <th>name</th>
        <th>subject</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if current_school_login.admin? %>
        <!-- Display users and their roles -->
        <% SchoolLogin.all.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.class_name %></td>
            <td><%= user.name%></td>
            <td><%= user%></td>
            <td><%= link_to 'Edit', edit_school_login_registration_path, class: "btn btn-info btn-sm" %></td>
          </tr>
        <% end %>
        <% Teacher.all.each do |t| %>
          <tr>
            <td><%= t.id %></td>
            <td><%= t.class_names.pluck(:name) %></td>
            <td><%= t.name%></td>
            <td><%= t.subject.name%></td>
            <td><%= link_to 'Edit', edit_school_login_registration_path, class: "btn btn-info btn-sm" %></td>
          </tr>
        <% end %>
      <% elsif current_school_login.teacher? %>
        <% Teacher.all.each do |t| %>
          <tr>
            <td><%= t.id %></td>
            <td><%= t.class_names.pluck(:name) %></td>
            <td><%= t.name%></td>
            <td><%= t.subject.name%></td>
            <td><%= link_to 'Edit', edit_school_login_registration_path, class: "btn btn-info btn-sm" %></td>
          </tr>
        <% end %>
      <% else %>
        <!-- Display user's own information and edit link -->
        <% Student.all.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.class_name.name %></td>
            <td><%= user.name %></td>
            <td><%= user.class_name.subjects.pluck(:name).join(', ') %></td>
            <td><%= link_to 'Edit', edit_school_login_registration_path, class: "btn btn-info btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
