<%= simple_form_for @class_name, html: { 'data-turbo' => "false" } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name %><br>
  <h4>Subjects</h4>
  <div id="subjects">
    <%= f.simple_fields_for :subjects do |subjects| %>
      <%= render 'subject_fields', f: subjects %>
    <% end %>
    <%= link_to_add_association 'Add Another Subject', f, :subjects %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
<script>
  $(document).ready(function() {
    $('#subjects').cocoon();

    $('#subjects').on('cocoon:before-insert', function(e, insertedItem) {
      // Do any setup you need before inserting the new fields.
    });

    $('#subjects').on('cocoon:after-insert', function(e, insertedItem) {
      // Do any setup you need after inserting the new fields.
    });
  });
</script>
